<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;   
        }

        h1{
            align-items: center;
            justify-content: center;
            margin-left: 45%;
            margin-right: 45%;
            margin-top: 25px;
        }

        form{
            align-items: center;
            justify-content: center;
            margin-left: 45%;
            margin-right: 45%;
            margin-top: 20px;
        }

        label{
            font-size: 18px;
            margin-bottom: 8px;
            padding-bottom: 5px;
        }

        input{
            padding: 10px;
            margin-bottom: 10px;
        }

        button{
            padding: 15px;
            border: none;
            outline: none;
            margin-top: 10px;
            width: 150px;
            align-items: center;
            justify-content: center;
            background-color: crimson;
            color: white;
            border-radius: 10px;
            margin-bottom: 35px;
        }

        a{
            align-items: center;
            justify-content: center;
            margin-left: 45%;
            margin-right: 45%;
            padding: 15px;
            font-size: 17px;
            background-color: yellow;
            color: black;
            width: 250px;
            height: 20px;
            text-decoration: none;
        }

    </style>
</head>

<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required />
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>

        <button type="submit">Register</button>
    </form>

    <a href="/login">Login</a>
</body>

</html>